

.jumbotron{
    background-image: url(imgs/top.jpg);
    
    background-size: cover;
}

.text-shadow(@textshadow: hsla(0, 0%, 22%, 0.5)){ 
    text-shadow: @textshadow 1px 1px 0px, @textshadow -1px 1px 0px, @textshadow 1px -1px 0px, @textshadow -1px -1px 0px;
}

.jum-top-h1{
    color: #383838;
    .text-shadow(#fff);
}

.jum-top-p{
    color: #fff;
    .text-shadow;
}

.heading{
    border-bottom: 2px solid #29949a;
    font-size: 40px;
}

.motto{
    font-size: 30px;
}

.img-responsive{
    max-width: 100%;
    height: auto;
    display: block;
}

.member-name{
    border-bottom: 2px solid;
}